.PieChart {
  width: 500px;
  height: auto;
  margin-top: 20px;
  &-title {
    @apply text-red-500 text-2xl font-bold text-center;
  }
  &-OF {
    &--title {
      text-anchor: middle;
      @apply font-bold tracking-wide;
    }
  }
}
